<!-- New Assignment -->

<div class="container-fluid"">
	<div class="row-fluid">
		<div class="span4">&nbsp;</div>
		<div class="span4">
			
			<div class="page-header"><h1>New Assignment</h1></div>
			
			<!-- form for entering assignment info -->
			<%= render 'form' %>

			<!-- button with link back to assignment 'show' page -->
 			<%= link_to(assignments_path) do -%>
  				<button class="btn btn-small btn-info">
  					<i class="icon-arrow-left icon-white"></i>
  					<span>Back</span>
				</button>
  			<% end -%>

		</div>
		<div class="span4">&nbsp;</div>
	</div>
</div>
