<!-- the message sent to an employee when their user info is created -->
<h3>Hi, <%= @user.employee.proper_name %></h3>

<p>
	Welcome to the Amazing and Marvelous Creamery staff.  Your user account has been created.
</p>

<br>

<ul>
	<li>email: <%= @user.email %></li>
	<li>password: <%= @user.password %></li>
</ul>

<br>

<p>Visit A&MCreamery.com to login to your account and view your relevant information.</p>

<br>

<p>
See you at the creamery! <br>
<b>Alex and Mark Heimann</b>
</p>

