<!-- Show Job -->

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">&nbsp;</div>
		<div class="span4">
			<!-- Border around job details -->
			<div class="border">
				<!-- shows details about the job -->
				<%= render :partial => "job_details" %>
			</div>
		</div>
		<div class="span4">&nbsp;</div>
	</div>
</div>

