<p class="home_paragraph">
	In business since 1995, the creamery has continued to 
	provide <b>delicious</b> ice cream coupled with <b>outstanding</b> service for
	over 15 years.  Come visit one of our stores located in the Tri-State 
	area to see what you have been missing!
</p>
<br>
