<!-- Home for a guest -->

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span10">&nbsp;</div>
		<div class="span2">
			<!-- login link -->
			<p>Employee?, 
			<%= link_to "click here to login", login_path %>
			</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">&nbsp;</div>
		<div class="span4" style="text-align: center;">
			<!-- header -->
			<h1 class= "page-header" style="font-size: 20pt;">Welcome to the Creamery!</h1>
			<%= render :partial => 'guest_paragraph' %>
		</div>
		<div class="span4">&nbsp;</div>
	</div> 
	<div class = "row-fluid">
		<div class="span2">&nbsp;</div>
		<div class="span4">
			<!-- shows the list of active stores -->
			<%= render :partial => 'stores/stores_index' %>
		</div>
		<div class="span4">
			<!-- shows the map of all the stores -->
			<%= render :partial => 'stores/map_index' %>
		</div>
		<div class="span2">&nbsp;</div>
	</div>
</div>