<!-- About Us -->

<div class="container-fluid" style="text-align: center;">
	<div class="row-fluid">
		<div class="span4">&nbsp;</div>
		<div class="span4">
			<div class="page-header">
				<h1>About Us</h1>
			</div>
			<!-- paragraph describing the creamery -->
			<p style="font-size: 12pt;">	
				We know you love ice cream.  Who doesn't?  
				Our goal at Amazing and Marvelous Creamery is to 
				make the best ice cream the world has EVER tasted.  
				Good luck finding better ice cream.
				Stop into one of our many locations 
				and try it out for yourself.  We know you will leave 
				agreeing that we serve the best ice cream in the world.
			</p>
			
			<br />
			<div>
				<!-- ice cream image -->
				<%= image_tag '3_cones.png'%>
			</div>
		</div>
		<div class="span4">&nbsp;</div>
	</div>
</div>