<div class = "container-fluid">
	<div class = "row-fluid">
		<div class="span4">&nbsp;</div>
			<div class="span4">
				<h2>Search results for <em><%= @query %> :</em></h2>
				<p>(red bullet means inactive)</p>
				<br>
				<% unless @employees_search.size == 0 %>
					<ul>
						<% for employee in @employees_search do %>
						<%if employee.active? %>
							<li><%= link_to employee.name, employee %></li>
						<% else %>
							<li style = "color: red;"><%= link_to employee.name, employee %></li>
						<% end %>
						<% end %>
					</ul>
				<% end %>
			</div>
			<div class="span4">&nbsp;</div>
	</div>
</div>