<!-- Show Shift -->

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">&nbsp;</div>
		<div class="span4">
			<!-- Border around shift details -->
			<div class="border">
				<!-- show the selected shift's details -->
				<%= render :partial => "shift_details" %>
			</div>
		</div>
		<div class="span4">&nbsp;</div>
	</div>
</div>

